<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Tools Survey</title>
</head>
<body>

    <header>
        <h1>{% block header %}Survey Application{% endblock %}</h1>
            
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for msg in messages %}
                        <p class="flash">{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>
</html>